.container {
  position: relative;
  .card {
    position: absolute;
    padding: 12px 24px;
    visibility: hidden;
    background: white;
    width: 480px;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.12);
    border-radius: 4px;
    z-index: 9;
    max-height: 300px;
    overflow-y: scroll;
  }
  &:hover {
    .card {
      visibility: visible;
    }
  }
}

.title {
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  border-left: 3px solid mediumseagreen;
  padding-left: 8px;
  margin-bottom: 8px;
}

.subTitle {
  margin-bottom: 24px;
}

